

/// PALETTE
$shadow: var(--shadow-color) ;
$dark: var(--dark);
$mid-dark: var(--mid-dark);
$mid: var(--mid);
$mid-light: var(--mid-light);
$light: var(--light);
$font-color: var(--font-color);
$dark-font-color: var(--dark-font-color);
$hover: var(--hover);

/// PADDING
$low: 10px 0px;
$standard: 10px;

/// RADIUS
$full-curve: 40px;
$half-curve: $full-curve/2;


